[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
pyjwt = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
djangorestframework-simplejwt = "*"
django-allauth = "*"
django-rest-passwordreset = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.8"
